<!DOCTYPE html>
<html>
	<head>
		<title>hakaToRun</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
	</head>
	<body ng-cloak ng-app="hakaToRun">

		<div ng-controller="mainController">

            <form action="inc/post-handler.php" method="post">
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<?php echo $stripe_public_test_pub_key; ?>"
                data-description="Buy now"
                data-amount="1"
                data-locale="auto"></script>
            </form>
    
        </div>

        <script type="text/javascript" src="https://js.stripe.com/v1/"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>

        <script type='text/javascript'>
            /* <![CDATA[ */
            var config = <?php echo json_encode( array(
                'stripe' => array(
                    'test_pub_key' => $stripe_public_test_pub_key,
                    'live_pub_key' => $stripe_public_live_pub_key
                )
            ) ); ?>;
            /* ]]> */
        </script>
		<script src="js/app.js"></script>
		
	</body>
</html>
